@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="left-panel">
        <h2>@Model.Title</h2>
        <ul>
            @foreach (var item in Model.Items)
            {
                <li>@item.LocationName</li>
            }
        </ul>
    </div>
    <div class="right-panel">
        <div id="map"></div>
    </div>
</div>
